<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}
    </head>
    {{#> body}}
        <!--	Content	# begin	-->
        <section class="container-fluid wide-container" style="">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="teaser teaser-medium theme-image  theme-primary-color-background">
                        <div class="teaser-media ">
                            <style>
                                @media only screen and (max-width: 768px) {
                                    #Ab8733334-8629-4a48-8c63-c6b15b18817b {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/sustainability/sustainability-programmes-final.ashx?mh=720&mw=720&rev=be0b74216de944c9a7d7fdc386f3dcee&hash=13505316879CAB399FAF07940614C56F");
                                    }
                                }

                                @media only screen and (min-width: 769px) {
                                    #Ab8733334-8629-4a48-8c63-c6b15b18817b {
                                        background-image: url("https://orstedcdn.azureedge.net/-/media/sustainability/sustainability-programmes-final.ashx?mh=1440&mw=1440&rev=be0b74216de944c9a7d7fdc386f3dcee&hash=9576A91E81475D60E78881D6F693BE03");
                                    }
                                }

                            </style>
                            <div id="Ab8733334-8629-4a48-8c63-c6b15b18817b" class="teaser-img background-image-top-center" role="img" aria-label=""></div>
                        </div>
                        <div class="teaser-content richtext richtext-teaser no-gradient">
                            <div class="teaser-body">
                                <h1 class='h1 teaser-headline-accent theme-color-accent'>
                                    <p><span style="color: #4099da;">Sustainability </span></p>
                                    <p><span style="color: #4099da;">programmes</span></p>
                                </h1>
                            </div>
                            <div class="teaser-cta">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid narrow-container sustainability" style="">
            <div class="row row-narrow">
                <div class="col-12" style="display: inline-block;">
                    <p class="small-title">Aligning our business with client science</p>
                    <p class="img-box" style="background: orange; ">
                        <span>7</span>
                        <span>AFFORDABLE AND CLEAN ENERGY</span>
                        <img src="../images/affordable.png">
                    </p>

                    <p class="img-box" style="background: darkgreen; ">
                        <span>13</span>
                        <span>CLIMATE<br> ACTION</span>
                        <img style="width: 90%;" src="../images/climate.png">
                    </p>
                </div>
            </div>

            <div class="row row-narrow" style="padding: 30px 0px;">
                <div class="col-12" style="display: inline-block;">
                    <p class="small-title">Addressing potiential impacts of the green energy transformation</p>
                    <p class="img-box" style="background: maroon; ">
                        <span>8</span>
                        <span>DECENT WORK AND ECONOMIC GROWTH</span>
                        <img style="width: 55%;" src="../images/decendwork.png">
                    </p>

                    <p class="img-box" style="background: orange; ">
                        <span>11</span>
                        <span>SUSTAINABLE CITIES AND COMMUNITIES</span>
                        <img src="../images/sustainable.png">
                    </p>

                    <p class="img-box" style="background: #c1780f; ">
                        <span>12</span>
                        <span>RESPONSIBLE CONSUMPTION AND PRODUCTION</span>
                        <img src="../images/responsible.png">
                    </p>

                    <p class="img-box" style="background: #6f6ffd; ">
                        <span>14</span>
                        <span>LIFE<br> BELOW WATER</span>
                        <img src="../images/lifewater.png">
                    </p>

                    <p class="img-box" style="background: #24ca24; ">
                        <span>15</span>
                        <span>LIFE <br> ON LAND</span>
                        <img src="../images/lifeland.png">
                    </p>
                </div>
            </div>

            <div class="row row-narrow" style="padding: 30px 0px;">
                <div class="col-12" style="display: inline-block;">
                    <p class="small-title">Ensuring responsible business practices</p>
                    <p class="img-box" style="background: #42a721; ">
                        <span>3</span>
                        <span>GOOD HEALTH AND WELL-BEING</span>
                        <img style="width: 90%;" src="../images/goodhealth.png">
                    </p>

                    <p class="img-box" style="background: #FF5733; ">
                        <span>5</span>
                        <span>GENDER <br> EQUALITY</span>
                        <img style="width: 55%;" src="../images/gender.png">
                    </p>

                    <p class="img-box" style="background: #FE823A; ">
                        <span>9</span>
                        <span>INDUSTRY, INNOVATION AND INFRASTRUCTURE</span>
                        <img style="width: 60%;" src="../images/industry.png">
                    </p>

                    <p class="img-box" style="background: orange; ">
                        <span>11</span>
                        <span>SUSTAINABLE CITIES AND COMMUNITIES</span>
                        <img src="../images/sustainable.png">
                    </p>

                    <p class="img-box" style="background: #c1780f; ">
                        <span>12</span>
                        <span>RESPONSIBLE CONSUMPTION AND PRODUCTION</span>
                        <img src="../images/responsible.png">
                    </p>

                    <p class="img-box" style="background: #357fa2; ">
                        <span>16</span>
                        <span>PEACE, JUSTICE AND STRONG INSTITUTIONS</span>
                        <img style="width: 65%;" src="../images/peace.png">
                    </p>
                </div>
            </div>
        </section>
        {{/body}}

</html>
