<!DOCTYPE html>
<html lang="en">

    <head>
        {{> head}}
    </head>
    {{#> body}}
        <!--	Content	# begin	-->
        <section class="container-fluid wide-container">
            <div class="row row-widewidth">
                <div class="col-12">
                    <div class="article article--narrow-media-1 site-theme-blue article-corporate">
                        <h1 class="article-headline article-corporate-headline"> Whitepapers </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid narrow-container">
            <div class="row row-narrow">
                <div class="col-12">
                    <p class="filter-tag">
                        <button id="all">All</button>
                        <button id="building-green">Buildng green</button>
                        <button id="capital">Capital</button>
                        <button id="greentech">Greentech</button>
                        <button id="nature">Nature</button>
                    </p>
                    <div class="richtext">
                        <table style="margin-top: 20px;">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="capital">Capital</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="capital">Capital</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="capital">Capital</li>
                                            <li data-tag="nature">Nature</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="building-green">Building Green</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="https://via.placeholder.com/300"></td>
                                    <td>
                                        <h4><strong><span style="color: #4099da;">Lorem ipsum dolor sit amet.</span></strong></h4>
                                        <ul class="whitepapers-tags">
                                            <li data-tag="greentech">Greentech</li>
                                            <li data-tag="building-green">Building Green</li>
                                            <li data-tag="nature">Nature</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate minus praesentium ea, ex eligendi delectus adipisci. Sapiente voluptatibus minus dolores magnam, provident quam aperiam error minima debitis ipsa officiis.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!--	Content	# end	-->
        {{/body}}

</html>

<script type="text/javascript">
    $('#all').addClass('active');

    var btns =document.querySelectorAll('p.filter-tag button');
    var tagsList =document.getElementsByClassName("whitepapers-tags");

    $('button').on("click", function(e) {
        var current = this.id;
        $('button').removeClass('active');
        $(this).addClass('active');

        if(current == 'all') {
            $(tagsList).closest('tr').css('display', 'block');
            return;
        }

        for (var i = tagsList.length - 1; i >= 0; i--) {
            var show = false;
            var list = tagsList[i].querySelectorAll('li');

            for (var j = list.length - 1; j >= 0; j--) {
                if(list[j].getAttribute('data-tag') == current){
                    show = true;
                    break;
                }
            }

            if(show) {
                $(tagsList[i]).closest('tr').css('display', 'block');
            } else {
                $(tagsList[i]).closest('tr').css('display', 'none');
            }

        }
    });
</script>